<div id="question">
  <p><%= @question[:question] %> </p>
  <div id="wrong">
    <% if @question[:wrong].nil? %>
      <p><%= link_to "http://localhost:4567/newquestion/#{@question[:id]}","No" %> </p>
    <% else %>
      <p><%= link_to "http://localhost:4567/question/#{@question[:wrong]}", "No"%> </p>
    <% end %>
  </div>
  <div id="correct">
    <% if @question[:correct].nil? %>
      <p> <%= link_to "http://localhost:4567/solved", "Yes" %> </p>
    <% else %>
      <p><%= link_to "http://localhost:4567/question/#{@question[:correct]}", "Yes"%> </p>
    <% end %>
  </div>
</div>
